<div class="row">
  <div class="span4 offset4 centered"> 
    <h1>
      <strong>
        <%= word.name %>
      </strong>
    </h1>
  </div>
</div>

<br />

<div class="row">
  <div class="span4 offset4 centered"> 
    <h3>
      <%= word.meaning %>
    </h3>
  </div>
</div>

<br />

<div class="row">
  <div class="span4 offset4 centered"> 
    <h3>
      <%= word.sentence %>
    </h3>
  </div>
</div>

