<div class="page-header">
  <h1>Words in this list</h1>
</div>

<% if @words %>
  <ul>
    <% @words.each do |word| %>
      <li><%= link_to word.name, word_path %>
    <% end %>
  </ul>
<% else %>
  No words in this list
<% end %>

<% if @list.list_type != 'test' %>
  <%= link_to "Review This List", learn_list_list_path, :class => 'btn' %>
  <%= link_to "Add More Words", add_words_list_path, :class => 'btn' %>
<% end %>
<% if @list.list_type != 'learn' %>
  <%= link_to "Test This List", test_list_list_path, :class => 'btn' %>
<% end %>
