<% title = "Reviewing #{@list.name} List" %>
<%= render 'shared/page_title', :title => title %>

<% if @word %>
  <%= render 'shared/word_display_default', :word => @word %>
<% end %>
<br />

<div class="row">
  <div class="span4 offset4 centered">
    <%= link_to "Next Word", learn_list_list_path, :class => 'btn' %>
  </div>
</div>


