<% if notice %>
  <div class="row">
    <div class="span12 centered">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span4 offset4 centered">
    <h1>GRE Words</h1>
  </div>
</div>

<% if current_user %>
  <% current_user.lists.each do |list| %>
    <div class="row top-margin-20">
      <div class="span2 offset5 centered">
        <%= link_to "Open #{list.name} List", contents_list_path(list), :class => 'btn full-width' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row top-margin-20">
    <div class="span2 offset5 centered">
      <%= link_to 'Login using FB', '/auth/facebook', :class => 'btn full-width' %>
    </div>
  </div>
  <div class="row top-margin-20">
    <div class="span2 offset5 centered">
      <%= link_to 'Learn Words', fetch_learn_words_url, :class => 'btn full-width' %>
    </div>
  </div>
<% end %>

</div>

