<div class="row-fluid">
 <div class="span12 centered">
   <h1>GRE Words</h1>
 </div>
</div>

<div class="row-fluid top-margin-20">

  <div class="span12 centered">
    <% if current_user %>
      <%= link_to 'My Lists', word_lists_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Learn Words', fetch_learn_words_url, :class => 'btn' %>
    <% end %>
  </div>

</div>

