<% @messages.each do |m| %>

  <% if !session[:whats_new] || !session[:whats_new].include? m.id.to_s %>

    <div class="row-fluid message-row" id="<%= m.id %>">
      <div class="span12 well">

        <%= m.title %>
        <%= link_to ('&times;').html_safe, mark_seen_whats_new_message_path(m), :class => "close message-x", :id => m.id %>

      </div>
    </div>

  <% end %>

<% end %>

