<div class="page-header">
  <h1>New Word - Learn Mode</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @word.name %></dd>
  <dt><strong>Meaning:</strong></dt>
  <dd><%= @word.meaning %></dd>
  <dt><strong>Sentence:</strong></dt>
  <dd><%= @word.sentence %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'New Word', fetch_learn_words_path, :class => 'btn' %>
</div>
