<% if @word %>
  <%= render 'shared/word_display_default', :word => @word, :mode => 'learn' %>
<% end %>

<div class="row">
  <div class="span4 offset4 centered">
    <%= link_to 'New Word', fetch_learn_words_path, :class => 'btn btn-primary respond-to-key-press right-arrow' %>
  </div>  
</div>
