<% title = "Word Details" %>
<%= render 'shared/page_title', :title => title %>

<% if @word %>
  <%= render 'shared/word_display_default', :word => @word, :mode => "show" %>
<% end %>

<br />

<div class="row"> 
  <div class="span4 offset4 centered">
    <%= link_to 'Back', :back, :class => "btn" %>
  </div>
</div>

